* {
    padding: 0;
    margin: 0;
}
  
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    border: #561f5c 2px solid;
}

.restartButton {
    position: absolute;
    cursor: pointer;
    display: none;
}